@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

a{
    text-decoration: none;
    color: black;
}

body{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #85FFBD;
    background-image: linear-gradient(to bottom, #85FFBD 0%, #FFFB7D 23%, #96e0f9 51%, #ffffff 99%);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    margin: 0 auto;
}

header img{
    width: 100%;
    max-width: 350px;
    padding: 50px 20px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 1.5rem rgb(255, 255, 255));
}

main {
    display: inline-block;
    height: 100%;
    padding: 15px;
    position: relative; 
}

.pokedex {
    width: 100%;
    max-width: 425px;
    filter: drop-shadow(0 0 1.5rem rgba(32, 32, 32, 0.479));   
}

.pokemonImage{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 34%);
    height: 15%;
    z-index: 1;
    filter: drop-shadow(0 0 2rem rgb(255, 255, 255));
}

.pokemonData{
    position: absolute;
    z-index: 1;
    text-align: center;
    font-weight: 600;
    color: rgb(102, 88, 233);
    top: 54.5%;
    right: 26%;
    font-size: clamp(8px, 5vw, 25px);

    width: 40%;
    height: 5%;
    background-color: #92C292;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -2px 2px 0 #888, -3px 4px 0 #333, inset -1.5px -1.5px 0 #7ca37c;
}

@media screen and (min-width: 300px){

    .pokemonData{
        top: 53.5%;
    }
}

.pokemonName{
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    z-index: 1;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.inputSearch {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
    z-index: 1;
}
  
.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
  
.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}


footer{
    padding: 20px;
}